.city-container {
    margin: 1em;
}

.city-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

.city-country-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.city-country {
    border-radius: 100%;
    width: 2em;
    padding: 0.2em 0.3em;
    text-align: center;
    background-color: var(--palete-2-5);
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--font-color);
}

.city-name {
    font-size: 1.2rem;
    font-weight: 500;
}

.city-description {
    margin-top: 0.5em;
    max-width: 70ch;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (width > 768px) {
    .cities-list {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
}
